[submodule "packages/general/any-auto-register"]
	path = packages/general/any-auto-register
	url = https://github.com/lxf746/any-auto-register.git
[submodule "packages/openai/chatgpt-creator"]
	path = packages/openai/chatgpt-creator
	url = https://github.com/verssache/chatgpt-creator.git
[submodule "packages/gemini/gemini-balance-do"]
	path = packages/gemini/gemini-balance-do
	url = https://github.com/76alex67/gemini-balance-do.git
[submodule "packages/codex/codex-lb"]
	path = packages/codex/codex-lb
	url = https://github.com/Soju06/codex-lb.git
[submodule "packages/openai/openai-oauth"]
	path = packages/openai/openai-oauth
	url = https://github.com/EvanZhouDev/openai-oauth.git
[submodule "packages/claude/claude-key-switch"]
	path = packages/claude/claude-key-switch
	url = https://github.com/sepmein/claude-key-switch.git
[submodule "packages/codex/codex-register-fix"]
	path = packages/codex/codex-register-fix
	url = https://github.com/917017420/codex-register-fix.git
[submodule "packages/email/tempmail"]
	path = packages/email/tempmail
	url = https://github.com/123nhh/tempmail.git
[submodule "packages/openai/ab-card"]
	path = packages/openai/ab-card
	url = https://github.com/kaima2022/ABCard.git
[submodule "packages/general/exa-free"]
	path = packages/general/exa-free
	url = https://github.com/dabaige53/ExaFree.git
[submodule "packages/email/ms-oauth2-api"]
	path = packages/email/ms-oauth2-api
	url = https://github.com/HChaoHui/msOauth2api.git
[submodule "packages/email/hotmail-outlook-auto-register"]
	path = packages/email/hotmail-outlook-auto-register
	url = https://github.com/SeseydOw/Hotmail-Outlook-Create-Account-Register-Auto.git
[submodule "packages/general/api-key-scraper"]
	path = packages/general/api-key-scraper
	url = https://github.com/shjee-afridi/Ultimate-openai-gemini-claude-api-key-scraper.git
[submodule "packages/grok/grok-register"]
	path = packages/grok/grok-register
	url = https://github.com/509992828/grok-register.git
[submodule "packages/email/cloudflare-temp-email"]
	path = packages/email/cloudflare-temp-email
	url = https://github.com/dreamhunter2333/cloudflare_temp_email.git
[submodule "packages/general/mregister"]
	path = packages/general/mregister
	url = https://github.com/shouma1/MREGISTER.git
[submodule "packages/codex/codex-register"]
	path = packages/codex/codex-register
	url = https://github.com/kschen202115/codex_register.git
[submodule "packages/general/real-random-taxfree-address"]
	path = packages/general/real-random-taxfree-address
	url = https://github.com/jietoushiren01-sys/real-random-taxfree-address.git
[submodule "packages/grok/grok2api"]
	path = packages/grok/grok2api
	url = https://github.com/satangel2222/grok2api.git
[submodule "packages/general/gopay-plus-auto"]
	path = packages/general/gopay-plus-auto
	url = https://github.com/ywnd1144/Gopay_plus_automatic.git
[submodule "packages/general/all-in-one-register"]
	path = packages/general/all-in-one-register
	url = https://github.com/Always15dppk/register.git
[submodule "packages/openai/chatgpt-auto-register"]
	path = packages/openai/chatgpt-auto-register
	url = https://github.com/xtitx0327/ChatGPT-Auto-Register.git
[submodule "packages/openai/openai-auto-register"]
	path = packages/openai/openai-auto-register
	url = https://github.com/Ethan-W20/openai-auto-register.git
[submodule "packages/general/gpt4free"]
	path = packages/general/gpt4free
	url = https://github.com/xtekky/gpt4free.git
[submodule "packages/general/open-proxy-ai"]
	path = packages/general/open-proxy-ai
	url = https://github.com/FurqanAhmadKhan/OpenProxyAI.git
[submodule "packages/openai/free-unofficial-openai-api"]
	path = packages/openai/free-unofficial-openai-api
	url = https://github.com/SreejanPersonal/Free-Unoffical-OpenAI-API.git
[submodule "packages/codex/CPA-Manager-Plus"]
	path = packages/codex/CPA-Manager-Plus
	url = https://github.com/adminlove520/CPA-Manager-Plus.git
[submodule "packages/openai/oai-Team-SSO-OIDC"]
	path = packages/openai/oai-Team-SSO-OIDC
	url = https://github.com/otso2200/oai-Team-SSO-OIDC.git
[submodule "packages/codex/CPA2sub2API"]
	path = packages/codex/CPA2sub2API
	url = https://github.com/gtxx3600/CPA2sub2API.git
[submodule "packages/general/cockpit-tools"]
	path = packages/general/cockpit-tools
	url = https://github.com/jlcodes99/cockpit-tools.git
[submodule "packages/openai/gpt-trahatel"]
	path = packages/openai/gpt-trahatel
	url = https://github.com/gfhfyjbr/gpt-trahatel.git
[submodule "packages/grok/grok-register-aaronl"]
	path = packages/grok/grok-register-aaronl
	url = https://github.com/AaronL725/grok-register.git
[submodule "packages/K12/K12-Space-Automation"]
	path = packages/K12/K12-Space-Automation
	url = https://github.com/BFanSYe/K12-Space-Automation.git
[submodule "packages/K12/chatgpt-register-sub2api"]
	path = packages/K12/chatgpt-register-sub2api
	url = https://github.com/akihitohyh/chatgpt-register-sub2api.git
[submodule "packages/general/sub2api"]
	path = packages/general/sub2api
	url = https://github.com/Wei-Shaw/sub2api.git
